I<div class="card bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header text-white">
        <h5 class="card-title" id="name"></h5>
        <h6 class="card-subtitle m-2">Intern</h6>
    </div>
    <div class="card-body bg-light">
        <div class="bg-white m-3">
            <ul class="list-group">
                <li class="list-group-item">ID: <span id="id"></span></li>
                <li class="list-group-item">Email: <span id="email"></span></li>
                <li class="list-group-item">School: <span id="school"></span></li>
            </ul>
        </div>
    </div>
</div>